In [59]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [60]:
pd.__version__

'2.0.3'

In [61]:
df = pd.read_csv("data.csv", nrows=100).drop("Unnamed: 0", axis=1)

In [62]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1.0,4.13,1.0,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5,NaN
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2.0,4.12,1.0,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5,NaN
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2.0,2.22,1.0,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5,NaN
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1.0,7.11,1.0,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0,NaN
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3.0,1.61,1.0,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5,NaN

In [63]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])
print(pd.io.sql.get_schema(df, name="yellow"))

CREATE TABLE "yellow" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [64]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [65]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [66]:
engine.connect()

In [76]:
df_iter = pd.read_csv("data.csv", iterator=True, chunksize=100000)

In [77]:
from time import time

In [78]:
for idx, chunk in enumerate(df_iter):
    t_start = time()

    df = chunk.drop("Unnamed: 0", axis=1)

    df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])
    df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
    df["store_and_fwd_flag"] = np.where(df["store_and_fwd_flag"] == "Y", True, False)

    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    
    t_end = time()

    print(f"inserted chunk {idx} in {t_end - t_start} seconds")

inserted chunk 0 in 7.97892689704895 seconds
inserted chunk 1 in 7.155198812484741 seconds
inserted chunk 2 in 7.254219055175781 seconds
inserted chunk 3 in 7.602355003356934 seconds
inserted chunk 4 in 7.046035289764404 seconds
inserted chunk 5 in 7.283418893814087 seconds
inserted chunk 6 in 7.538511037826538 seconds

/var/folders/gz/m1_yy6lx5b9grv7zpwmb002c0000gn/T/ipykernel_79291/558674563.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

inserted chunk 7 in 8.286078214645386 seconds
inserted chunk 8 in 7.652861833572388 seconds
inserted chunk 9 in 7.558391809463501 seconds
inserted chunk 10 in 7.452790021896362 seconds
inserted chunk 11 in 7.63319993019104 seconds

/var/folders/gz/m1_yy6lx5b9grv7zpwmb002c0000gn/T/ipykernel_79291/558674563.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  for idx, chunk in enumerate(df_iter):

inserted chunk 12 in 7.296647071838379 seconds
inserted chunk 13 in 4.869033098220825 seconds